<%- include header %>
<link rel='stylesheet' href='/stylesheets/index.css' />
<link rel='stylesheet' href='/stylesheets/menu.css' />
<link rel='stylesheet' href='/stylesheets/course-list.css' />
<div class="main cf">
  <div class="left-wrapper">
    <%- include menu %>
  </div>
  <div class="right-wrapper">
    <%- include course-list %>
  </div>
</div>
<%- include footer %>