<script src='/javascripts/menu.js'></script>
<ul class="menu">
  <div class="slide-bar"></div>
  <% for(var i=0;i<menuItems.length;i++) { %>
    <li class="menu-item"><a href="javascript:;"><%=menuItems[i]%></a><i class="iconfont">&#xe60e;</i></li>
  <% } %>
</ul>