.main {
  width: 1200px;
  padding: 20px 0;
  margin: 0 auto;
}
.banner {
  max-height: 340px;
  font-size: 0;
  margin-bottom: 10px;
}
.banner div {
  vertical-align: top;
  display: inline-block;
  height: 340px;
}
.banner .left {
  width: 600px;
}
.banner .mid {
  width: 320px;
}
.banner .mid ul {
  height: 100%;
  list-style-type: none;
  padding: 0 40px ;
  background-color: #364247;
}
.banner .mid ul li {
  height: 33.3%;
  font-size: 16px;
  line-height: 113px;
  border-bottom: 1px solid #414f55;
}
.banner .mid ul li span {
  color: #909b9e;
}
.banner .mid ul li em {
  font-size: 20px;
  color: #fff;
  font-style: normal;
}
.banner .mid ul li:last-child {
  border: none;
}
.banner .right {
  width: 280px;
}
.banner .right .start {
  width: 100%;
  font-size: 30px;
  color: #fff;
  line-height: 340px;
  text-align: center;
  background-color: #c9394a;
}
.banner .right .start:hover {
  background-color: #d65c5c ;
}
.left-wrap,
.right-wrap {
  float: left;
}
.left-wrap {
  width: 840px;
  min-height: 800px;
  padding: 40px;
  background-color: #fff;
}
.right-wrap {
  margin-left: 20px;
  width: 260px;
}
